{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <h1 class="text-retro-pink">{{ blogposts.title }}</h1>
            <h4 class="text-yellow">{{ blogposts.author }} | {{ blogposts.published_date }}</h4>
            <p class="text-white">{{ blogposts.body }}</p>
            {% if request.user.is_superuser %}
            <a href="{% url 'edit_post' blogposts.pk  %}" class="btn btn-info">Edit post</a>
            <a href="{% url 'delete_post' blogposts.pk  %}" class="btn btn-danger">Delete Post</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}