{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'home/js/home.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container mb-5">
    <div class="row">
        <div class="col-lg-8 align-items-start ms-0 mt-4">
            <span class="logo-container ms-5 pt-3">
                <p class="logo">
                    R<span class="flicker" id="flick">E</span>TRO <span class="flicker" id="dome">DOME</span>
                </p>
            </span>
            </div>
            <div class="col-7 offset-5 text-end d-flex mt-5 pb-5">
            <section class="" id="about">
                <p class="fs-5 text-retro-pink"> Your No.1 stop shop for retro gaming consoles, games and accessories!<br>
                    All the classic gaming consoles from your childhood and over 80,000 popular games.<br>
                    It's time to reacquaint yourself with your inner child! </p>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 align-items-start">
            <div>
            <ul id="featured" class="mt-6 pt-5 ps-2 row justify-content-start g-0">
                <li class="d-flex">
                    <p class="d-flex">
                        <span class="hexagon me-1">
                            <a href="{% url 'products' %}?product=Handheld+Console" class="d-flex text-center">HandHeld Consoles</a>
                        </span>
                        <span class="hexagon">
                            <a href="{% url 'products' %}?category=specials" class="d-flex">Specials</a>
                        </span>
                        <span class="hexagon me-1">
                            <a href="{% url 'products' %}?q=Home+Console" class="d-flex text-center">Home Consoles</a>
                        </span>
                    </p>
                </li>
                <li class="d-flex">
                    <p class="d-flex">
                        <span class="hexagon ms-8 me-1 mt-6">
                            <a href="" class="d-flex">Sign Up!</a>
                        </span>
                        <span class="hexagon mt-6">
                            <a href="" class="d-flex">Login</a>
                        </span>
                    </p>
                </li>
                <li class="d-flex">
                    <p class="d-flex">
                        <span class="hexagon me-1 mt-6">
                            <a href="" class="d-flex">Blog</a>
                        </span>
                        <span class="hexagon me-1 mt-6">
                        </span>
                        <span class="hexagon mt-6">
                            <a href="" class="d-flex">Contact</a>
                        </span>
                    </p>
                </li>
            </ul>
        </div>
        </div>
        <div class="col-lg-4 mt-5 align-self-center" id="shop">
                    <p class="text-center flickering"><a href="#" class="" id="cta">SHOP NOW!</a></p>
        </div>
    </div>
    <div class="row container mt-5">
        <div class="col">
            <h2 class="text-center mt-3 fs-1 text-light-blue">Specials</h2>
        </div>
    </div>
</div>
{% endblock %}