@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
  background-color: #181A18!important;
  font-family: "geo", "sans-serif"!important;
  letter-spacing: 0.1em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Monoton", "Sans-serif";
}

.bg-onyx {
    --bs-bg-opacity: 1;
    background-color: #454545;
  }

.bg-colorgradient {
    background-image: linear-gradient(to bottom left, #ee2677 5%, #ff8f00 40%, #ee2677 100%,#fff 0%);
    border-color: #ee2677;
  }

.bg-soft-black {
  background-color: #181A18;
}

.navbar {
  border-bottom: 2px solid #fff000;
}

.hexagon {
    width: 260px;
    height: 150px;
    background-color:#fff000;
    backdrop-filter: blur(5px);
    border-color: #fff000;
    position: relative;
    display: inline-block;
}

.hexagon:before {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 75px solid;
    border-color: inherit;
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    position: absolute;
    top: -75px;
}

.hexagon:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -75px;
    border-top: 75px solid;
    border-color: inherit;
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
}

.text-yellow {
  color: #fff000;
}

.text-light-blue {
  color: #00ffff;
}

.text-vibrant-green {
  color: #00ff00;
}

.text-retro-pink {
  color: #F803F6;
}

.btn:focus {
  box-shadow: none!important;
}

.btn-outline-white {
  border:2px solid #fff!important;
  color: #fff!important;
  border-radius: 1.3rem!important;
}

.btn-outline-pink {
  border: 2px solid #ee2677!important;
  color: #fff000!important;
  border-radius: 1.3rem!important;
}

.btn-outline-green {
  border: 2px solid #0ff000!important;
  border-radius: 1.3em!important;
  color: #00ffff!important;
}

.drop-shadow-green {
  filter: drop-shadow(16px 3px 11px #FFf000) drop-shadow(-14px -8px 11px #00ff00);
}

.drop-shadow-pink {
  filter: drop-shadow(16px 3px 11px #ff8f00) drop-shadow(-14px -8px 11px #ee2677);
}

.drop-shadow-blue {
  filter: drop-shadow(16px 3px 11px #FFB8FF) drop-shadow(-14px -8px 11px #00ffff);
}