<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-soft-black drop-shadow-yellow">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">RetroDome</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white {% if request.path == '/products/' %}active{% endif %}"
                        aria-current="page" href="{% url 'products' %}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white {% if request.path == '/blog/' %}active{% endif %}"
                        href="{% url 'blog' %}">Blog</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white {% if request.path == '/profile/' %}active{% endif %}"
                        href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                        {% if request.user.is_authenticated %}
                        <li><a class="dropdown-item {% if request.path == '/accounts/' %}active{% endif %}"
                                href="{% url 'profile' %}">My Profile</a></li>
                        <li><a class="dropdown-item {% if request.path == '/accounts/' %}active{% endif %}"
                                href="{% url 'account_logout' %}">Logout</a></li>
                        {% else %}
                        <li><a class="dropdown-item {% if request.path == '/accounts/' %}active{% endif %}"
                                href="{% url 'CustomLoginView' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <!-- search form -->
            <form method="GET" action="{% url 'products' %}" class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
                <button class="btn btn-outline-success text-white" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>