{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="row mt-5 align-items-center">
    <div class="col-12 text-center">
<h1 class="text-light-blue fs-lg flickering">500</h1>
<p class="text-white">Something went wrong! Go back home by clicking below</p>
    <button class="btn btn-warning">
        <a class="text-black" href="{% url 'home' %}">Home</a>
    </button>

    </div>
</div>
{% endblock %}