{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="Description" content="A contac page for the Retrodome website to contact the owners of a retro gaming themed website that sells handheld and home consoles." />
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}
<h1 class="pt-3 pb-3 text-center text-light-blue">Contact</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-12 drop-shadow-blue">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2461.947587802123!2d-8.474595983598249!3d51.89842058351394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x484490104a24174d%3A0xb8772718995a199f!2sSt%20Patrick&#39;s%20St%2C%20Centre%2C%20Cork!5e0!3m2!1sen!2sie!4v1635326474275!5m2!1sen!2sie"
                height="450" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
        </div>
    </div>
    <div class="row align-items-center justify-content-around mt-4">
        <div class="col-lg-3 mb-4">
            <div class="card">
                <div class="card-body bg-onyx text-yellow drop-shadow-pink rounded">
                    <h5 class="card-title">Address</h5>
                    <p class="card-text text-white">Bravo Digital Designs,<br> Patrick St. <br> Cork </p>
                    <hr>
                    <h5 class="card-title">Email</h5>
                    <p class="card-text text-white">bravodigitaldesigns@gmail.com</p>
                    <hr>
                    <h5 class="card-title">Socials</h5>
                    <p class="card-text text-center">
                        <a href="https://www.facebook.com/" target="_blank" aria-label="facebook page icon" rel="noreferrer"><i
                            class="fab fa-facebook-square fa-2x pt-1 text-light-blue"></i></a>
                    <a href="https://www.instagram.com/" target="_blank" aria-label="instagram page icon" rel="noreferrer"><i
                            class="fab fa-instagram-square fa-2x text-light-blue"></i></a>
                    <a href="https://www.youtube.com/" target="_blank" aria-label="youtube page icon" rel="noreferrer"><i
                            class="fab fa-youtube-square fa-2x text-light-blue"></i></a>
                    </p>
                </div>
            </div>

        </div>
        <div class="col-lg-8 mb-4 text-retro-pink">
            <h2 class="text-vibrant-green text-center">Send us a message!</h2>
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-pink d-flex mx-auto mt-2" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}