<table class="accordion-body">
    <table class="table text-white">
        <tbody>
            <tr>
                <th rowspan="2" scope="row" class="fs-5 text-yellow">About</th>
                <td class="fw-bold text-vibrant-green">Launched:</td>
                <td colspan="" class="">{{ product.launched }}</td>
            </tr>
            <tr>
                <td class="fw-bold text-vibrant-green">Console Family:</td>
                <td colspan="" class="">{{ product.console_family }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table text-white">
        <tbody>
            <tr>
                <th rowspan="3" scope="row" class="fs-5 text-yellow">Body</th>
                <td class="fw-bold text-vibrant-green">Weight:</td>
                <td colspan="" class="">{{ product.weight }}</td>
            </tr>
            <tr>
                <td class="fw-bold text-vibrant-green">Battery:</td>
                <td colspan="" class="">{{ product.battery_type }}</td>
            </tr>
            <tr>
                <td class="fw-bold text-vibrant-green">Screen Size:</td>
                <td colspan="" class="">{{ product.screen_size }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table text-white">
        <tbody>
            <tr>
                <th rowspan="2" scope="row" class="fs-5 text-yellow">Memory</th>
                <td class="fw-bold text-vibrant-green">Internal:</td>
                <td colspan="" class="">{{ product.hard_disk }}</td>
            </tr>
            <tr>
                <td class="fw-bold text-vibrant-green">Memory Card:</td>
                <td colspan="" class="">{{ product.memory_card }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table text-white">
        <tbody>
            <tr>
                <th rowspan="3" scope="row" class="fs-5 text-yellow">Technical</th>
                <td class="fw-bold text-vibrant-green">Processor:</td>
                <td colspan="" class="">{{ product.processor }}</td>
            </tr>
            <tr>
                <td class="fw-bold text-vibrant-green">Ram:</td>
                <td colspan="" class="">{{ product.ram }}</td>
            </tr>
            <tr>
                <td class="fw-bold text-vibrant-green">Graphics:</td>
                <td colspan="" class="">{{ product.graphics }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table text-white">
        <tbody>
            <tr>
                <th rowspan="5" scope="row" class="fs-5 text-yellow">Comms</th>
                <td class="fw-bold text-vibrant-green">HDMI:</td>
                <td colspan="" class="">{{ product.hdmi }}</td>
            </tr>
            <tr>
                <td class="fw-bold text-vibrant-green">USB:</td>
                <td colspan="" class="">{{ product.usb }}</td>
            </tr>
            <tr>
                <td class="fw-bold text-vibrant-green">Wi-Fi:</td>
                <td colspan="" class="">{{ product.has_wifi }}</td>
            </tr>
            <tr>
                <td class="fw-bold text-vibrant-green">Ethernet:</td>
                <td colspan="" class="">{{ product.ethernet }}</td>
            </tr>
            <tr>
                <td class="fw-bold text-vibrant-green">A/V Digital output:</td>
                <td colspan="" class="">{{ product.av_digital_output }}</td>
            </tr>
        </tbody>
    </table>
</table>