{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 text-white">
    <h1 class="pt-5 pb-3 text-center">Consoles</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        {% for product in products %}
        {% if product.category.pk == 6 %}
        <!-- featured card for products that are in the specials category -->
        <div class="col w-75 drop-shadow-pink accordian mb-3 mt-3" id="accordian{{product.pk}}">
            <div class="card w-100 mb-3 bg-transparent border-0">
                <div class="card-header text-center border-0">
                    <span class="badge rounded-pill bg-warning">
                        <a href="" class="text-decoration-none text-white">{{ product.category }}</a>
                    </span>
                </div>
                <div class="row g-0 align-items-center">
                    <div class="col-md-4">
                        <img src="{{ product.image_url }}" class="img-fluid img-thumbnail rounded-start" alt="an image of {{product.model_name}}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body accoridan-item border-0">
                            <h5 class="card-title">
                                {% if product.product_name %}
                                {{ product.product_name }}
                                {% else %}
                                {{ product.model_name }}
                                {% endif %}
                            </h5>
                            <h6 class="accoridan-header" id="heading{{product.pk}}">
                                <button class="accordion-button text-center text-yellow bg-transparent" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapse{{product.pk}}"
                                    aria-expanded="true" aria-controls="collapse{{product.pk}}">
                                    Specifications
                                </button>
                            </h6>
                            <div id="collapse{{product.pk}}" class="accordion-collapse collapse"
                                aria-labelledby="heading{{product.pk}}" data-bs-parent="#accordian{{product.pk}}">
                                <!-- specification table -->
                                {% include "includes/spectable.html" %}
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <table class="table text-white">
                                <thead>
                                    <tr>
                                        <th colspan="2" scope="col" class="text-center">
                                            <span class="text-light-blue">
                                                Rating
                                            </span>
                                        </th>
                                        <th colspan="2" scope="col" class="text-center">
                                            <span class="text-light-blue">
                                                Price
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="text-center text-yellow">{{ product.rating }}</td>
                                        <td colspan="2" class="text-center text-yellow">€{{ product.price }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- qty selection and add to cart button -->
                            <span>QTY: </span>
                            <p class="text-center">
                                <button class="btn btn-outline-green">Add to Cart
                                    <span class="d-block">
                                        <i class="fas fa-cart-plus"></i>
                                    </span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <!-- product cards -->
        <div class="col drop-shadow-blue mb-5 mt-5 accordian" id="accordian{{product.pk}}">
            <div class="card bg-onyx ">
                <div class="card-header text-center">
                    {% if product.console_type == 'Home Console' %}
                    <span class="badge rounded-pill bg-success">
                        <a href="" class="text-decoration-none text-white">{{ product.console_type }}</a>
                    </span>
                    {% else %}
                    <span class="badge rounded-pill bg-info">
                        <a href="" class="text-decoration-none text-white">{{ product.console_type }}</a>
                    </span>
                    {% endif %}
                </div>
                <img src="{{ product.image_url }}" class="card-img-top img-fluid img-thumbnail"
                    alt="An image of a {{ products.brand }} {{ product.model_name }}">
                <div class="card-body accoridan-item">
                    {% if product.brand == 'Sony' %}
                    <h5 class="card-title text-light-blue">
                        {% if product.product_name %}
                        {{ product.product_name }}
                        {% else %}
                        {{ product.model_name }}
                        {% endif %}
                    </h5>
                    {% elif product.brand == 'Microsoft' %}
                    <h5 class="card-title text-vibrant-green">
                        {% if product.product_name %}
                        {{ product.product_name }}
                        {% else %}
                        {{ product.model_name }}
                        {% endif %}
                    </h5>
                    {% elif product.brand == 'Nintendo' %}
                    <h5 class="card-title text-yellow">
                        {% if product.product_name %}
                        {{ product.product_name }}
                        {% else %}
                        {{ product.model_name }}
                        {% endif %}
                    </h5>
                    {% else %}
                    <h5 class="card-title">
                        {% if product.product_name %}
                        {{ product.product_name }}
                        {% else %}
                        {{ product.model_name }}
                        {% endif %}
                    </h5>
                    {% endif %}
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <h6 class="accoridan-header" id="heading{{product.pk}}">
                        <button class="accordion-button text-center text-yellow bg-onyx" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapse{{product.pk}}" aria-expanded="true"
                            aria-controls="collapse{{product.pk}}">
                            Specifications
                        </button>
                    </h6>
                    <div id="collapse{{product.pk}}" class="accordion-collapse collapse"
                        aria-labelledby="heading{{product.pk}}" data-bs-parent="#accordian{{product.pk}}">
                        <!-- specification table -->
                        {% include "includes/spectable.html" %}
                    </div>
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th colspan="2" scope="col" class="text-center"><span
                                        class="text-light-blue">Rating</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="text-center text-yellow">{{ product.rating }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th colspan="2" scope="col" class="text-center"><span
                                        class="text-light-blue">Price</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="text-center text-yellow">€{{ product.price }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <span>QTY: </span>
                            <p class="text-center">
                                <button class="btn btn-outline-pink">Add to Cart
                                    <span class="d-block">
                                        <i class="fas fa-cart-plus"></i>
                                    </span>
                                </button>
                            </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}